#specialTitle{
    --background:#000;
    --color: #52ffe4; 
}

ion-item-divider {
  --background: #bc2075;
  --color: #ffffff;
  font-weight: bold;
  font-size: large;
  text-align: center;
  
}

#desserts {
  --background: grey;
}

ion-content::part(background){
  background: #ffffff;
}

ion-header {
    --background:#000;
    --color: #52ffe4;
}

ion-toolbar {
    --background:#bc2075;
    --color: #e8e7e7;
}

ion-card {
    --background: #e76b9d;
    --color: rgb(239, 240, 240);
    border-style: groove;
    border-color: #000;
  }
  
  ion-card-title {
    --color: #ffffff;
  }
  
  ion-card-subtitle {
    --color: rgb(240, 244, 244);
  }

  ion-button {
    --background: #bc2075;
    padding: 5px;
    vertical-align:auto;
    margin: auto;
    
  }
/*
  ion-searchbar {
    max-width: 300px;
    --background-color: #e76b9d;
    --color: #e76b9d;
    --cancel-button-color: "warning";
    text-align: center;
  }
*/
  ion-toast {
    --background: rgb(113, 201, 129);
    --border-radius: 15px;
    --color: black;
    --width: 300px;
    --white-space: none;
    text-align: center;
    font-size: large;
  }