ion-page {
    --background-color: #000000;
    
}

ion-content::part(background) {
    background: #e6e6e6;
}

ion-note {
    text-align-last: auto;
    font-size: medium;
    font-style: oblique;
}

h2 {
    font-weight: bolder;
    text-align: start;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    font-size: medium;
    font-family: sans-serif;
    font-weight: lighter;
}

ion-card {
    padding: 15px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 10em;
}

ion-card-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ion-item {
    padding: 10px;
    margin: auto;
    border-style: dotted;
    border-color: #e76b9d;
    border-width: 0 0 4px 0;
}

ion-thumbnail {
    --border-radius: 10px;
    --size: 80px;
}

ion-list {
    padding: 10px;
    margin: 10px;
    border-style: groove;
    border-color: #010000;
    
}